<!-- show.html.erb - events -->
<h2>Event: <%= @event.name %></h2>

<p>
  <div>
    <strong>Location:</strong> <%= @event.location %>
  </div>
  <div>
    <strong>Description:</strong> <%= @event.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= @event.finalized %>
  </div>

  <div>
    <strong>Created by:</strong> <%= User.find(@event.creator_id).full_name %>
  </div>
  <div>
    <strong>Allow Date Proposals?</strong> <%= @event.allow_date_prop %>
  </div>
  <div>
    <strong>Created at:</strong> <%= @event.created_at %>
  </div>
</p>
<div><%= link_to 'Edit', edit_event_path(@event) %></div>
<%= link_to 'Back', events_path %>
