<!-- views/users/_form.html.erb -->
<div>

  <% if @user.errors.any? %>
    Please correct these errors:
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, label: 'First Name:' %>
    <%= f.input :last_name, label: 'Last Name:' %>
    <%= f.input :email, label: 'Email:' %>
    <%= f.input :password, label: 'Password:' %>
    <%= f.input :password_confirmation, label: 'Re-enter Password:' %>
    <%= f.button :submit, value: 'Sign Up' %>
  <% end %>

</div>
