<!-- _form.html.erb - users -->
<div class="main-wrapper">

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    Please correct these errors:
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <p>
    First Name<br />
    <%= f.text_field :first_name, :placeholder => 'First name' %>
  </p> 
  <p>
    Last Name<br />
    <%= f.text_field :last_name, :placeholder => 'Last name' %>
  </p>

  <p>
    Email<br />
    <%= f.text_field :email, :placeholder => 'Email' %>
  </p>

  <p>
    Password<br />
    <%= f.password_field :password, :placeholder => 'Password' %>
  </p>

  <p>
    Password Confirmation<br />
    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

</div>