<!-- index.html.erb - users -->
<h2>All users</h2>
<h4><%= link_to 'Add Jammers to Friends List', new_user_friendship_path(current_user) %></h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      
      <% if current_user.admin %>
        <th>Admin?</th>
        <th></th>
        <th></th>
        <% end %>
    </tr>
  </thead>
  <tbody>

  <% @users.each do |user| %>
  <tr>
      <td><%= user.full_name %></td>
      <td><%= user.user_name %></td>

      <% if current_user.admin %>
        <td><%= user.admin %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?'} %></td>
      <% end %>
  </tr>
  <% end %>

  </tbody>
</table>