<!-- new.html.erb - jam_times -->
<h2>Adding dates for <%= @jam.name %></h2>

<%= form_for @jam_time do |f| %>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.time_field :start_time %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>