<!-- views/jam_times/new.html.erb -->
<h2>Propose new time for <%= @jam.name %></h2>

<% if @jam_time.errors.any? %>
  Please correct the following errors: 
  <ul>
    <% @jam_time.errors.full_messages.each do |msg| %>
      <li class='error-msg'><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @jam_time do |f| %>
  <div>* Date<br /><%= f.date_field :start_date %></div>
  <div>* Time<br /><%= f.time_field :start_time %></div>
  <div><%= f.submit 'Propose New Time', :class => 'button' %></div>
<% end %>
