<!-- all.html.erb - friendships -->
<!-- a view for the admin to view all friendships -->
<h2>Admin: All Friendships</h2>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>user's name</th>
      <th>friend_id</th>
      <th>friend's name</th>
    </tr>
  </thead>
  <tbody>

  <% @f_ships.each do |f_ship| %>
    <tr>
      <td><%= f_ship.id %></td>
      <td><%= f_ship.user_id %></td>
      <td><%= f_ship.user.full_name %></td>
      <td><%= f_ship.friend_id %></td>
      <td><%= f_ship.friend.full_name %></td>
    </tr>
  <% end %>

  </tbody>
</table>
