<!-- all.html.erb - friendships -->
<!-- a view for the admin to view all friendships -->
<h2>Admin: All Friendships</h2>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>user's name</th>
      <th>friend_id</th>
      <th>friend's name</th>
    </tr>
  </thead>
  <tbody>

  <% @friendships.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.user_id %></td>
      <td><%= f.user.full_name %></td>
      <td><%= f.friend_id %></td>
      <td><%= f.friend.full_name %></td>
    </tr>
  <% end %>

  </tbody>
</table>
