<!-- edit.html.erb - rsvps -->

<h2>My RSVPs for Jam -> <%= @jam.name %></h2>

<%= form_tag @rsvp, method: 'put' do %>

  <% @rsvp_ids_to_edit.each do |rsvp_id| %>
    <p>
      <div><%= JamTime.find(Rsvp.find(rsvp_id).jam_time_id).start_date_formatted %></div>
      <div><%= JamTime.find(Rsvp.find(rsvp_id).jam_time_id).start_time_formatted %></div>
    
      <%= select_tag "answers[#{rsvp_id}]", options_for_select([['Yes', 'yes'], ['If Necessary', 'ifnec'], ['No', 'no']]) %>
    </p>
  <% end %>

  <%= submit_tag "Let's Jam" %>

<% end %>