<!-- index.html.erb - rsvps -->
<h2>Look, Ma!  People wanna Jam with me!</h2>

<div class="text">
<% @jams_invited_to.each do |jam| %>

<p>
  <div>
    <strong>Name:</strong> <%= link_to jam.name, jam %>
  </div>
  <div>
    <strong>Location:</strong> <%= jam.location %>
  </div>
  <div>
    <strong>Description:</strong> <%= jam.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= jam.finalized %>
  </div>
  <div>
    <strong>Invited by:</strong> <%= User.find(jam.user_id).full_name %>
  </div>
  
</p>

<% end %>
</div>