<!-- new.html.erb - logins -->
<h2>Sign in</h2>
<br />
<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag :login %>
<% end %>