<div class="main-wrapper">
<%= form_for @jam do |f| %>
  <p>
    Jam title<br />
    <%= f.text_field :name, :placeholder => "Untitled jam" %>
  </p>
  <p>
    Where<br />
    <%= f.text_field :location, :placeholder => "Enter a location" %>
  </p>
  <p>
    Description<br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>