<%= form_for @jam do |f| %>
  <p>
    Name<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Location<br />
    <%= f.text_field :location %>
  </p>
  <p>
    Description (optional)<br />
    <%= f.text_field :description %><br />
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>