<div class="main-wrapper">
<%= form_for @jam do |f| %>
  <p>
    Name<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Location<br />
    <%= f.text_field :location %>
  </p>
  <p>
    Description (optional)<br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>