<%= form_for @jam do |f| %>
  <p>
    <b><%= f.label :name %></b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b><%= f.label :location %></b><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <b><%= f.label 'Description (optional)' %></b><br />
    <%= f.text_field :description %><br />
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>