<!-- index.html.erb - jams -->
<h2><%= current_user.index_view_header %></h2>

<% @jams.each do |j| %>
  <div class='text-block'>
    <div>
      <span class="labels">Name:</span> <%= link_to j.name, j %>
    </div>
    <div>
      <span class="labels">Location:</span> <%= j.location %>
    </div>
    <div>
      <span class="labels">Description:</span> <%= j.description %>
    </div>
    <div>
      <span class="labels">Finalized?</span> <%= j.finalized %>
    </div>      
  </div>
<% end %>

<div><%= link_to 'Create new jam', new_jam_path %></div>