<!-- index.html.erb - jams -->
<h2><%= current_user.index_view_header %></h2>

<% @jams.each do |jam| %>

<p>
  <div>
    <strong>Name:</strong> <%= link_to jam.name, jam %>
  </div>
    <div>
      <strong>Location:</strong> <%= jam.location %>
    </div>
  <div>
    <strong>Description:</strong> <%= jam.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= jam.finalized %>
  </div>  
  
</p>

<% end %>

<div><%= link_to 'Create new jam', new_jam_path %></div>