<!-- show.html.erb - jams -->
<h2>Jam: <%= @jam.name %></h2>
<% back_page = current_user == @jam.creator ? 'My Jams' : 'My Invitations' %>

<div class='text-block'><%= link_to "<-- Back to #{back_page}", jams_path %></div>
<div class="text-block-single">
  <p>
    <span class="labels">Location:</span> <%= @jam.location %><br />
    <span class="labels">Description:</span> <%= @jam.description %><br />
    <span class="labels">Invited by:</span> <%= @jam.creator.full_name %><br />
    <span class="labels">Created at:</span> <%= @jam.created_at_formatted %>
  </p>
</div> <!-- END TEXT-BLOCK -->

<% if !@jam.jam_times.empty? %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <% @jam.jam_times.order(:start_date).order(:start_time).each do |jam_time| %>
          <th><%= "#{jam_time.start_date_formatted}" %><br /><%= "#{jam_time.start_time_formatted}" %></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @jam.invitees.each do |invitee| %>
        <tr>
          <td><%= invitee.full_name %></td>
          <% @jam.jam_times.order(:start_date).order(:start_time).each do |jam_time| %>
            <% @rsvp = jam_time.rsvps.find_by(user_id: invitee.id) %>
            <td><%= @rsvp.answer %></td>
          <% end %>
          
          <% if current_user == invitee || current_user.admin || current_user == @jam.creator%>
            <td>
              <% if current_user == invitee || current_user.admin %>
                <%= link_to '(edit)', edit_rsvp_path(@rsvp) %>
              <% end %>
            </td>
            <td>
              <%= link_to '(delete)', @rsvp, method: :delete, data: { confirm: "Delete this RSVP?"} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<p>
  <% session[:jam_id] = @jam.id %>
  <% if current_user.id == @jam.user_id || current_user.admin %>
    <div><%= link_to 'Add another time', new_jam_time_path %></div>
    <div><%= link_to 'Invite friends', new_rsvp_path %></div>
    <div><%= link_to 'Edit', edit_jam_path(@jam) %></div>
    <div><%= link_to 'Delete', jam_path(@jam), method: :delete, data: { confirm: 'Delete this Jam?'} %></div>
  <% end %>

</p>
