<!-- show.html.erb - jams -->
<h2>Jam: <%= @jam.name %></h2>

<p>
  <div>
    <strong>Location:</strong> <%= @jam.location %>
  </div>
  <div>
    <strong>Description:</strong> <%= @jam.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= @jam.finalized %>
  </div>
  <div>
    <strong>Created by:</strong> <%= @jam.creator.full_name %>
  </div>
  <div>
    <strong>Created at:</strong> <%= @jam.created_at_formatted %>
  </div>
</p>

<% if !@jam.jam_times.empty? %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% @jam.jam_times.order(:start_date).each do |jam_time| %>
        <th><%= "#{jam_time.start_date_formatted}" %><br /><%= "#{jam_time.start_time_formatted}" %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jam.invitees.each do |invitee| %>
      <tr>
        <td><%= invitee.full_name %></td>
        <% @jam.jam_times.order(:start_time).each do |jam_time| %>
          <% p jam_time %>
          <% @rsvp = Rsvp.find_by(:jam_time_id => jam_time.id, :user_id => invitee.id) %>
          <td><%= @rsvp.answer %></td>
        <% end %>
        
        <% if current_user.id == invitee.id || current_user.admin || current_user.id == @jam.user_id%>
          <td>
            <% if current_user.id == invitee.id || current_user.admin %>
              <%= link_to 'Edit', edit_rsvp_path(@rsvp) %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Delete', @rsvp, method: :delete, data: { confirm: "Are you sure??"} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<p>
<% session[:jam_id] = @jam.id %>
<% if current_user.id == @jam.user_id || current_user.admin %>
  <div><%= link_to 'Add another time', new_jam_time_path %></div>
  <div><%= link_to 'Invite friends', new_rsvp_path %></div>
  <div><%= link_to 'Edit', edit_jam_path(@jam) %></div>
  <div><%= link_to 'Delete', jam_path(@jam), method: :delete, data: { confirm: 'Sure you wanna delete this Jam?'} %></div>
<% end %>
<div><%= link_to 'Back', jams_path %></div>
</p>
