<!-- index.html.erb - users -->
<h1>All users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Add Friend</th>
      <% if current_user.admin %>
        <th>Admin?</th>
        <th></th>
        <% end %>
    </tr>
  </thead>
  <tbody>

  <% @users.each do |user| %>
  <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td>
      <% if !current_user.friends.include?(user) && user != current_user %>
        <%= link_to 'add friend', new_user_friendship_path(current_user) %>
        <% end %>
      </td>
      <% if current_user.admin %>
        <td><%= user.admin %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
  </tr>
  <% end %>

  </tbody>
</table>