<!-- show.html.erb - users -->
<h1>Showing user id <%= @user.id %></h1>

<%= link_to 'Edit user', edit_user_path(@user) %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Admin?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.user_name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.admin %></td>
    </tr>
  </tbody>
</table>

