<!-- index.html.erb - jams -->
<% if current_user.admin %>
  <h2>Admin: Viewing all Jams</h2>
<% else %>
  <h2>I made these Jams</h2>
<% end %>



<% @jams.each do |jam| %>

<p>
  <div>
    <strong>Name:</strong> <%= link_to jam.name, jam %>
  </div>
    <div>
      <strong>Location:</strong> <%= jam.location %>
    </div>
  <div>
    <strong>Description:</strong> <%= jam.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= jam.finalized %>
  </div>  
  
</p>

<% end %>

<div><%= link_to 'Create new jam', new_jam_path %></div>