<!-- show.html.erb - jams -->
<h2>Jam: <%= @jam.name %></h2>

<p>
  <div>
    <strong>Location:</strong> <%= @jam.location %>
  </div>
  <div>
    <strong>Description:</strong> <%= @jam.description %>
  </div>
  <div>
    <strong>Finalized?</strong> <%= @jam.finalized %>
  </div>

  <div>
    <strong>Created by:</strong> <%= User.find(@jam.user_id).full_name %>
  </div>

  <div>
    <strong>Created at:</strong> <%= @jam.created_at %>
  </div>
</p>
<div><%= link_to 'Edit', edit_jam_path(@jam) %></div>
<%= link_to 'Back', jams_path %>
